
.first {
	float: right;
	font-weight: bold;
	color: #800;
	padding: 0px 0px 0px 0px;
	margin: 12px 3px 0px 0px;
}

.second {
	width: 150px;
	max-width: 132px;
	color: #000;
	float: left;
	margin-right: 0px;
}

.third {
	width: 150px;
	max-width: 134px;
	margin: 0px 0px 8px 16px;
	padding: 4px 8px 0px 8px;
	color: #800;
	float: right;
	display: inline;
	background-color: #f7f2ee;}
  
.bulk {
	xxxwidth: 1156px;
	width: 1156px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	xxxborder: 1px solid #c42737;
}

.XXXXcontent-esshc {
	width: 600px;
	max-width: 584px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 0px;
	float: right;
	border-left: 1px solid #225496;}

.content {
	xxxwidth: 1000px;
	xxxmax-width: 984px;
	width: 1000px;
	max-width: 984px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 0px;
	float: right;
	border-left: 1px solid #225496;}

.nav input {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 95%;
	line-height: 100%;
	color: #800;}

.search-box {
	width: 100px;
	margin: 0px 4px 0px 0px;}
	
.stronglinks a:link,
.stronglinks a:visited,
.stronglinks a:hover,
.stronglinks a:active {
	font-weight: bold;}
/*
ul {
	margin-top: 20px;
	margin-left: 0px;
	padding-left: 0px;}
*/
.content ul {
	width: auto;
	margin-top: 20px;
	margin-bottom: 20px;}
/*
ul ul {
	margin-left: 20px;
	padding-left: 0px;}

ul li {
	line-height: 130%;
	list-style-type: none;
	margin-bottom: 6px;}*/
/*
ol {
	margin-top: 10px;}

ol.decimal li {
	list-style-type: decimal;
} */
	
ul.square li {
	list-style-type: square;
	font-weight: normal;
	margin-left: 20px;
}

.nav dl {
	border: 0px solid #000;
	margin: 0px 0px 18px 0px;
	padding: 0px 0px 0px 0px;}

.nav dd {
	list-style-type: none;
	list-style-position: outside;
	margin: -4px 0px -4px 0px;
	padding: 6px 0px 6px 0px;}

.nav dt {
	font-size: 125%;
	line-height: 125%;
	font-weight: bold;
	color: #c42737;
	margin: -4px 0px -4px 0px;
	padding: 6px 0px 6px 0px;
}
	
.nav form strong {
	font-size: 125%;
	line-height: 125%;
	font-weight: bold;}

dl.sub {
	border: 0px solid #000;
	margin: 6px 0px 0px 10px;
	padding: 0px 0px 0px 0px;}

dd.sub {
	margin-left: 10px;}

dl.sitemap,
dl.sitemap-sub {	
	line-height:120%;
	font-size: 100%;}

dl.sitemap dd {
	margin-left: 0px;}

dl.sitemap-sub dd {
	margin-left: 10px;}

dt.esshc {
	color: #225496;}
	
.search {
	width: auto;
	padding: 4px 4px 0px 4px;
	float: left;
 	display: inline;}
	
#search {
	margin:0px 0px 0px 0px;}

.iisg {
 	display: inline;
 	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;}

.banner {
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	background-repeat: no-repeat;
	clear: both;}

.button {
	display: inline;
	border: 0px solid #000;
	margin: 0px 0px 0px 0px;}


form.searchwebsite {
	margin-top: 0px;
	margin-bottom: 0px;}


	
.button-right {
	margin-top: 4px;
	margin-bottom: 0px;
	text-align: right;}
	
h2.inline {
	float: left;
	margin: 0px 0px 0px 0px;}

/*h3 {
	font-size: 170%;
	line-height: 100%;
	font-weight: normal;
	margin-bottom: 0px;
	clear: left;}      */

h4 {
	font-size: 130%;
	line-height: 100%;
	font-weight: bold;
	margin-bottom: 0px;
	clear: left;}

h4.inline {
	float: left;
	margin: 5px 0px 20px 0px;}
	
h5 {
	font-size: 100%;
	line-height: 100%;
	font-weight: bold;
	margin-bottom: 6px;
	clear: left;}

h5.inline {
	float: left;
	margin: 5px 0px 0px 0px;}
	
p {
	margin-top: 6px;
	clear: left;}
	
p.indent {
	text-indent: 30px;
	margin-top: -12px;}

p.wrap {
	clear:none;}

p.wrap-top {
	margin-top: 0px;
	margin-bottom: 0px;
	clear:none;}
	
pre {
	font-size: 120%;}

.small {
 	font-size: 80%;}
 
.red {
 	font-size: 85%;
	color: #c42737;
	font-weight: bold;}
	
.red-text {
	color: #c42737;
	font-weight: bold;}
	/*
#author {
 	font-size: 90%;
	line-height: 130%;
 	margin: 20px 0px 20px 0px;}     */
   /*
table {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 170%;}

td {
	vertical-align: top;}
     */
.fullwidth {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 0px;
	line-height:140%;
	font-size: 100%;}

#columnleft {
	float:left; 
	width:47%; 
	margin:0px 10px 0px 0px; 
	padding:0px 0px 0px 0px;}

#columnright {
	float:left; 
	width:47%; 
	margin:0px 10px 0px 0px; 
	padding:0px 0px 0px 10px; 
	border-left: 1px solid #c42737;}

/*.column {
	padding-bottom: 16px;
	clear: left;}*/

img.left {
	float: left;
	margin: 6px 16px 6px 0px;}

img.right {
	float: right;
	margin: 0px 0px 6px 16px;}

.image {
	float: left;
	margin: 6px 16px 6px 0px;}

.image-right {
	float: right;
	margin: 6px 0px 6px 16px;}
	
.image-100 {
	margin: 6px 0px 16px 0px;
	width: 100px;
	float: left;}
	
.caption {
	font-size: 90%; 
	line-height: 130%;
	text-align: center;
	margin-top: 5px;}

#data {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 100%;
	letter-spacing: 0px;
	margin: 6px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline;
	clear: right; }	

.browse {
	float: right;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 95%;}

hr {
	color: #c42737;
	background-color: #c42737;
	height: 1px;
	border: 0;
}

.clearboth {
	clear: both;}	

.top {
	text-align: right;
	font-weight: bold;
	clear: both;
	padding-bottom: 32px;}
	
.top-txt {
	text-align: right;
	font-weight: bold;
	clear: both;}
	
.footer {
	background-color: #c42737;
	text-align: right;
	width: 100%;
	color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;}
	
.footer-blue {
	background-color: #8199e6;
	text-align: right;
	width: 100%;
	color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;}

.smalleritalic {
	font-size: 90%;
	font-style: italic;
}

/*?*/

div.items {
	margin-bottom: 16px;
	clear: left;
}

div.image-item {
	margin: 6px 0px 16px 0px;
	width: 100px;
	float: left;
}
 
div.text-item {
	display: inline;
}

div.today-item {
	width:139px; 
	height:160px; 
	float:left; 
	margin:15px 3px 10px 3px; 
	line-height:130%;
	display: inline;
	font-size: 96%;
}

.options {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 95%;
}

.row-two {
	width:49%;
	float:left;
	text-align:center;
	margin-bottom: 10px;
}

.row-three {
	width:33%;
	float:left;
	text-align:center;
	margin-bottom: 10px;
}


.row-four {
	width:24%;
	float:left;
	text-align:center;
	margin: 5px 0px 10px 0px;
}

.row-five {
	width:19%;
	float:left;
	text-align:center;
	margin-bottom: 10px;
}

