/* DEFAULT STYLING */

body {
	position: relative;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	width: 1156px;
	margin: 0;
}

a:link, a:visited , a:active {
    color: #A26E33;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
    border-bottom: 1px solid #225496;
    color: #225496;
    font-weight: normal;
	font-size: 16pt;
    margin: 0 0 30px;
}

h2 {
	display: inline-block;
	color: #225496;
	font-weight: normal;
	font-size: 14pt;
    margin: 0;
}

h3 {
    display: inline-block;
	color: #225496;
	font-weight: normal;
	font-size: 12pt;
    margin-bottom: 12px;
}

p {
	margin-top: 6px;
}


ol, ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
    list-style: none;
}

dt {
	padding-bottom: 5px;
	font-size: 11pt;
    font-weight: bold;
	color: #225496;
}

dd {	
    margin: -4px 0;
    padding: 5px 0;
	list-style-position: outside;
	font-size: 8pt;	
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 0 5px;
}

/* HEADER */

#header {
	margin-bottom: 20px;
}

#banner {
	background-image: url(../images/bannerbg-esshc.jpg);
	background-repeat: no-repeat;
	margin-bottom: 11px;	
}

.event {
	margin-left: 8px;
}

#event_switcher {
    width: 500px;
}

.hosted {
	font-size: 95%;
	font-weight: bold;
	color: #880000;
	margin: 11px 3px 0 0;
}

.loggedin {
	color: #225496;
    font-weight: bold;
    margin-right: 30px;
}

.loggedin img {
	margin-bottom: 1px;
    margin-left: 5px;
}

.locales ul {
	display: inline;
}

.locales li {
	display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

/* NAVIGATION */

#nav {	
	float: left;
	width: 150px;
	max-width: 150px;
	padding: 0 8px;
	padding-bottom: 20px;
	border-right: 1px solid #225496;
}

/* MAIN CONTENT */

#content {
	position: relative;
	float: right;	
	width: 973px;
	margin-left: 16px;
}

#content span.top {
    margin-bottom: 10px;
}

/* FOOTER */

#footer {
	padding: 2px 4px 2px 2px;
	text-align: right;
	font-size: 8pt;
	color: #FFFFFF;
	background-color: #225496;
}

/* USER MENU */

#usermenu {
    display: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 1px #225496;
    position: absolute;
    right: 175px;
    top: 125px;
}

#usermenu li {
    padding: 5px;
    text-align: right;
}

/* EVENTS PAGE */

#events .event {
    margin-bottom: 30px;
}

#events .event ul {
    margin-left: 40px;
    margin-top: 10px;
}

#events .event ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.action {
    display: inline;
    font-style: italic;
    margin-left: 10px;
    font-size: 8pt;
    color: #225496;
}

/* PARTICIPANTS PAGE */
#filter-participant {
    border-bottom: 1px solid #225496;
    margin-bottom: 20px;
}

#filter {
    float: left;
    margin-left: 30px;
    width: 60%;
}

#filter select, #filter input {
    width: 300px;
}

#filter .buttons {
    box-shadow: 0 0;
    text-align: right;
}

#status {
    float: left;
    margin-bottom: 20px;
}

#participants .alfabet {
    text-align: center;
    font-weight: bold;
}

#list {
    margin-left: 50px;
    width: 100%;
}

#list ol {
    margin: 20px 0;
}

#list li {
    margin: 0;
}

#list li.char {
    font-weight: bold;
    margin-left: 20px;
}

/* VIEWS */

fieldset {
    border: none;
}

fieldset div, ol li {
    min-height: 24px;
    margin: 5px 0;
}

fieldset div, fieldset li, ol li {
    min-height: 24px;
    margin-top: 5px;
}

input, textarea, select {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background: #FFFFFF;
    border: 1px solid #7F9DB9;
}

input, textarea, .property-value, fieldset ul {
    color: #000000;
    text-align: left;
    vertical-align: top;
}

li input[type="text"], li input[type="password"], li input[type="number"], li select {
    width: 100px;
    margin-left: 5px;
    vertical-align: middle;
}

input[type=text], input[type=password], input[type=number], select {
    height: 18px;
    width: 180px;
    padding-left: 2px;
}

select {
    height: 20px;
}

label, .property-label {
    display: inline-block;
    width: 25%;
    margin-right: 10px;
    text-align: right;
    color: #666666;
}

label {
    margin-top: 2px;
}

li label {
    display: inline;
    margin: 3px;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

.buttons {
       -moz-box-shadow: 0 0 3px 1px #225496;
    -webkit-box-shadow: 0 0 3px 1px #225496;
            box-shadow: 0 0 3px 1px #225496;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    padding: 5px;
}

.buttons input, .buttons a, .tbl_toolbar a {
    color: #225496;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    overflow: visible;
    padding: 3px 10px;
    text-decoration: none;
    border: none;
    outline: none;
}

.buttons input:hover, .buttons input:focus, .buttons a:hover, .buttons a:focus {
    background-color: #CAE1FF;
}

fieldset span.ui-icon {
    display: inline-block;
    margin: -4px 0;
    cursor: pointer;
}

fieldset .add {
    font-weight: bold;
}

fieldset .column {
    float: left;
    width: 200px;
}

fieldset .columns label {
    text-align: left;
    width: 100%;
}

fieldset .columns.copy .column {
    line-height: 1.5;
    margin-right: 15px;
    padding: 10px;
}

fieldset .columns.copy .ui-icon {
    display: block;
    margin: 0 auto;
}

/* MESSAGES AND ERRORS */

.message, .errors li {    
    padding: 5px;
    text-indent: 25px;
}

.message {
    margin: 30px 30px 20px;  
    background: url("../images/skin/information.png") no-repeat scroll 7px 50% transparent; 
    color: #225496;
       -moz-box-shadow: 0 0 3px 1px #225496;
    -webkit-box-shadow: 0 0 3px 1px #225496;
            box-shadow: 0 0 3px 1px #225496;
}

.errors {
    margin: 30px 30px 20px;  
    color: #cc0000;
       -moz-box-shadow: 0 0 3px 1px #ff8888;
    -webkit-box-shadow: 0 0 3px 1px #ff8888;
            box-shadow: 0 0 3px 1px #ff8888;
}

.errors li {
    background: url(../images/skin/exclamation.png) no-repeat scroll 7px 50% transparent; 
}

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

/* TABLES */

.tbl_toolbar {
    background-color: #D8E2EB;
    border-top: 1px solid #7F9DB9;
    color: #225496;
    font-weight: bold;
    padding: 5px 10px;
}

.tbl_toolbar span {
    margin: 0 15px;
}

.tbl_container thead {
    border-top: 1px solid #7F9DB9;
    border-bottom: 1px solid #7F9DB9;
    background-color: #D8E2EB;
}

.tbl_container tbody tr:hover {
    background-color: #D8E2EB;
    cursor: pointer;
}

.tbl_container th {
    color: #225496;
    font-size: 14px;
    padding: 3px;
}

.tbl_container th input {
    width: 80%;
    margin-bottom: 2px;
    text-align: center;
}

.tbl_container td {
    padding: 5px 10px;
}

.tbl_container td.counter {
    width: 25px;
    border-right: 1px solid #7F9DB9;
    color: #225496;
    font-weight: bold;
    text-align: right;
}

/* HELPERS */

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.empty {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}