/* DEFAULT STYLING */

body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    width: 100%;
    margin: 0;
}

a, img, fieldset, div, span, form, fieldset, input, textarea, select, 
ol, ul, li, dl, dt, dd {
    border: none; 
    outline: none;
    margin: 0;
    padding: 0;
}

input[type="button"]::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 0 5px;
}

label {
    color: #666666;  
}

input, textarea, select {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background: #FFFFFF;
    border: 1px solid #7F9DB9; 
    line-height: 1;    
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=url] {
    height: 20px;
    width: 200px;
    padding-left: 2px;
}

textarea {
    padding: 2px;
    overflow: auto;
}

select {
    height: 22px;
    min-width: 150px;    
    vertical-align: middle;
}

#content select {
    max-width: 400px;
}

select[size], select[multiple] {
    height: 100%;
}

input.moveItems {
    display: block;
    padding: 3px;
    margin-top: 5px;
}

input[type=checkbox], input[type=radio] {
    border: 0;
    outline: 0;
    vertical-align: middle;
}

h1 {   
    border-bottom: 1px solid #225496;
    color: #225496;
    font-weight: normal;
    font-size: 16pt; 
    margin: 0 0 30px;    
}

h2, h3, legend {
    display: inline-block;
    color: #225496;
    font-weight: normal;
}

h2 {
    font-size: 14pt;
    margin: 0;
}

h3, legend {
    font-size: 12pt;
    margin: 0 0 12px;
}

/* LINKS */

a, a:link, a:visited , a:active {
    color: #A26E33;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* MESSAGES AND ERRORS */

.message, .errors li {    
    padding: 5px;
    text-indent: 25px;
}

.message {
    margin: 30px 30px 20px;  
    background: url("../images/skin/information.png") no-repeat scroll 7px 50% transparent; 
    color: #225496;
       -moz-box-shadow: 0 0 3px 1px #225496;
    -webkit-box-shadow: 0 0 3px 1px #225496;
            box-shadow: 0 0 3px 1px #225496;
}

.errors {
    margin: 30px 30px 20px;  
    color: #cc0000;
       -moz-box-shadow: 0 0 3px 1px #ff8888;
    -webkit-box-shadow: 0 0 3px 1px #ff8888;
            box-shadow: 0 0 3px 1px #ff8888;
}

.errors li {
    background: url(../images/skin/exclamation.png) no-repeat scroll 7px 50% transparent; 
}

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

/* TOGGLE */

.toggle-session-participants {
    cursor: pointer;
    position: absolute;
    color: #225496;
    font-weight: bold; 
    text-align: center;
    top: 5px;
    right: 0;    
}

/* DIALOGS */

.edit-paper-icon {
    cursor: pointer;    
}

/* NAVIGATION */

.navigation {
    position: absolute;
    color: #225496;
    font-weight: bold; 
    text-align: center;
    top: 5px;
    right: 0;    
}

.navigation .prev, .navigation .next {
    cursor: pointer;
}

.navigation .ui-icon-bullet {
    cursor: default;
}

/* TABS */

#tabs {
    border: none;
    position: static;
}

#tabs > ul, #tabs > ol {
    border-top: none;
    border-left: none;
    border-right: none;
}

/* BUTTONS */

.buttons {
    margin: 15px 0;
    overflow: hidden;
    padding: 5px;
    clear: both;
}

.buttons input, .buttons a {
    display: inline-block;
    min-width: 50px;
    color: #225496;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
    padding: 3px 10px;
    text-decoration: none;
    overflow: visible;
    border: 1px solid #225496;
    outline: none;
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.buttons input {
    height: 23px;
}

.buttons a {
    height: 15px;
}

.buttons input:hover, .buttons input:focus, .buttons a:hover, .buttons a:focus {
    background-color: #CAE1FF;
}

.buttons .btn_delete {
    float: right;    
}

/* LISTS AND FORMS */

.form > div, .form div ul > li, .property-list > li, .property-list li ul > li {
    min-height: 22px;
    margin: 5px 0 0;
    line-height: 1.8;
    overflow: hidden;
}

.form > div ul > li:first-child, .property-list li ul > li:first-child {
    margin-top: 0;
}

.form > div > .property-label, .property-list li > .property-label, .label {
    width: 25%;
    float: left;  
    color: #666666;
    text-align: right;
}

.form > div > .property-value, .property-list li > .property-value, .value {
    display: block;
    text-align: left;
    margin: 0 0 0 26%;    
    white-space: normal;
    word-wrap: break-word;
}

.column.form > div > .property-label {
    width: 33%;
}

.column.form > div > .property-value {
    margin: 0 0 0 36%;
}

ul input[type=text], ul input[type=password], ul input[type=number],
ul input[type=email], ul input[type=url] {
    width: 120px;
}

.columns > .column {
    float: left;
    width: 350px;
    margin: 20px 5px;    
    overflow: auto;
}

.column > .ui-icon {
    display: block;
    margin: 0 auto;
}

li.add {
    font-weight: bold;
}

span.ui-icon {
    display: inline-block;
    margin: -3px 0;
    cursor: pointer;
}

span.remove-item {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 3px;
    position: relative;
    top: 1px;
}

.loading {
    cursor: pointer;
    font-weight: bold;
}

/* TABLES */

.tbl_toolbar {
    background-color: #D8E2EB;
    border-top: 1px solid #7F9DB9;
    color: #225496;
    font-weight: bold;
    padding: 5px 10px;
    float: right;
}

.tbl_toolbar span {
    margin: 0 15px;
}

.tbl_totals {
    border-top: 1px solid #7F9DB9;
    color: #225496;
    font-weight: bold;
}

.tbl_totals span {
    display: block;
    text-align: right;
    padding: 5px 10px;
}

.tbl_container thead {
    border-top: 1px solid #7F9DB9;
    border-bottom: 1px solid #7F9DB9;
    background-color: #D8E2EB;
}

.tbl_container thead.no-filters {
    text-align: left;
}

.tbl_container tbody tr:hover {
    background-color: #D8E2EB;
    cursor: pointer;
}

.tbl_container th {
    color: #225496;
    font-size: 14px;
    padding: 3px;
}

.tbl_container th input, .tbl_container th select {
    width: 80%;
    margin-bottom: 2px;
    text-align: center;
}

.tbl_container td {
    padding: 5px 10px;
}

.tbl_container td select {
    height: 20px;
}

.tbl_container td.counter {
    width: 25px;
    border-right: 1px solid #7F9DB9;
    color: #225496;
    font-weight: bold;
    text-align: right;
}

.asc_selected, .asc_unselected, .desc_selected, .desc_unselected {
    display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 6px;
}

.asc_unselected {
    background: url("../images/skin/sorted_asc.png") no-repeat;
}

.asc_selected {
    background: url("../images/skin/sorted_asc_selected.png") no-repeat;
}

.desc_unselected {
    background: url("../images/skin/sorted_desc.png") no-repeat;
}

.desc_selected {
    background: url("../images/skin/sorted_desc_selected.png") no-repeat;
}

/* HEADER */

#header {
    margin-bottom: 20px;
}

#event-logo {	
    background: url("../images/header-esshc.gif") no-repeat;
    display: inline-block;    
    width: 495px;
    height: 36px;
    text-indent: -9999px;
}

#event-header .hosted {
    position: absolute;	
    right: 0;
    color: #225496;
    font-size: 95%;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 10px;
}

#banner-container {
    background: url("../images/bannerbg-esshc.jpg") repeat-x;
    width: 100%;
}

#banner {
    background: url("../images/banner-esshc.jpg") no-repeat;
    width: 755px;
    height: 50px;
}

#banner-menu {
    margin: 10px;
    line-height: 1.75;
    min-height: 22px;
}

#banner-menu > div {
    display: inline-block;
}

#loggedin, #locales {
    float: right;
}

#locales a:hover {
    text-decoration: none;
}

#locales img {
    border: 2px solid transparent;
    margin-bottom: -5px;
    padding-bottom: 2px;
}

#locales img.selected {
    border-bottom-color: #7F9DB9;
}

#event-switcher select {
    width: 500px;
}

#loggedin {
    color: #225496;
    font-weight: bold;
    margin-right: 20px;
}

#loggedin img {
    margin-bottom: 1px;
    margin-left: 5px;
}

#loggedin .roles {
    font-weight: normal;
    font-style: italic;
}

#locales ul {
    display: inline;
}

#locales li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

/* NAVIGATION */

#nav {	
    display: inline-block;
    width: 150px;
    max-width: 150px;
    padding: 0 8px;
    padding-bottom: 20px;
    border-right: 1px solid #225496;
    overflow: hidden;
}

#nav dt {
    padding-bottom: 5px;
    font-size: 11pt;
    font-weight: bold;
    color: #225496;
}

#nav dd {	
    margin: -4px 0;
    padding: 5px 0;
    list-style-position: outside;
    font-size: 8pt;	
}

#nav > dl dl.sub-menu {
    display: none;
    padding: 10px 20px;
}

/* MAIN CONTENT */

#container {
    white-space: nowrap;    
}

#content {
    position: relative;
    margin-left: 16px;
    display: inline-block;
    vertical-align: top;
}

#content .top {
    margin: 10px 0;
    padding-left: 50px;
    float: right;
}

/* FOOTER */

#footer {
    padding: 2px 4px 2px 2px;
    text-align: right;
    font-size: 8pt;
    color: #FFFFFF;
    background-color: #225496;
    clear: both;
}

/* MENUS */

.menu {
    display: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 1px #225496;
    position: absolute;
}

.menu li {
    padding: 5px;    
}

#usermenu {    
    right: 175px;
    top: 125px;
}

#usermenu li {
    text-align: right;
}

/* EVENTS PAGE */

#events .event {
    margin-bottom: 30px;
}

#events .event ul {
    margin-left: 40px;
    margin-top: 10px;
}

#events .event ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.action {
    display: inline;
    font-style: italic;
    margin-left: 10px;
    font-size: 8pt;
    color: #225496;
}

/* PARTICIPANTS PAGE */

#filter-participant {
    border-bottom: 1px solid #225496;
    margin-bottom: 20px;
}

#filter {
    float: left;
    margin-left: 30px;
    width: 60%;
}

#filter-type {
    width: 304px;
}

#filter-text {
    width: 300px;
}

#filter .buttons {
    text-align: center;
    padding-right: 30px;
}

#filter .buttons a, #filter .buttons input {
    float: none;
}

#status {
    float: left;
    margin-bottom: 30px;
}

#participants .alfabet {
    text-align: center;
    font-weight: bold;
}

#list {
    margin-left: 50px;
    width: 95%;
}

#list ol {
    margin: 20px 0;
}

#list li {
    margin-left: 20px;
}

#list li.char {
    font-weight: bold;
    margin-left: 0;
}

#list li.char a {
    color: #000000;
}

#personal-tab, #papers-tab, #sessions-tab {
    margin: 0;
    padding: 0;
}

#participant-form {
    position: relative;
}

#participant-form #tabs > ul:first-child { 
    position: absolute;     
    top: -63px;
    left: 40%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #participant-form #tabs > ul:first-child {   
        top: -62px;
    }
}

#participant-form .column {
    width: 50%;
    margin: 0;
    padding: 0;
}

#participant-form .column > fieldset, #participant-form .column > div {
    margin-bottom: 20px;
}

#participant-form .property-label {
    width: 33%;
}

#participant-form .property-value {
    margin-left: 35%;
}

#participant-form input, #participant-form select, #participant-form textarea {
    max-width: 250px;
}

#papers-tab .column, #sessions-tab .column {
    border-bottom: 1px solid #225496;
    margin-bottom: 20px;
}

#papers-tab .column {
    height: 850px;
}

#sessions-tab .column {
    height: 250px;
}

#participant-present {
    margin-top: 20px;
}

#participant-present td {
    border: 1px solid #225496;
}

/* ROOMS */

#room-equipment .column {
    width: 160px;
}

/* FEE STATES */

.fee-list {
    margin-bottom: 20px;
}

.fee-list thead td {
    font-weight: bold;
}

.fee-list td {
    width: 33%;
}

/* SESSIONS INFORMATION */

.participant-type-value {
    color: #225496;
    font-style: italic;
}

.participant-paper-value {
    display: block;
    color: #225496;
    font-style: italic;
}

.session-participants li ul, .session-participants li ul li {
    display: inline;
    margin-left: 10px;
}

#not-in-session {
    display: none;
}

#network-sessions .session, #not-in-session .participant {
    font-weight: bold;
}

#network-sessions .session-participants, #not-in-session .participants  {
    margin-left: 30px;
}

ul input.session-code {
    width: 50px;
}

ul input.session-name {
    width: 400px;
}

/* PLAN SESSIONS */

#unschedule-session { 
    display: none;  
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;    
    float: left;
    border: 1px solid #225496;
    cursor: pointer;
}

#unschedule-session span {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
}

#sessions-unscheduled {
    margin-bottom: 20px;
    overflow: auto;
    padding: 5px;
    white-space: nowrap;
    border: 1px solid #225496;    
}

.session-block {
    border: 1px solid #225496;
    display: inline-block;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);    
}

.session-block.selected {
    background: url("../images/striped-bg.png") repeat transparent; 
    border-width: 3px;
    color: #FFFFFF;
    text-decoration: underline;
    text-shadow: 0 0 3px #000000;
    box-shadow:         0 0 5px 3px #FFFFFF;
    -o-box-shadow:      0 0 5px 3px #FFFFFF;
    -moz-box-shadow:    0 0 5px 3px #FFFFFF;
    -webkit-box-shadow: 0 0 5px 3px #FFFFFF;
}

#legenda-schedule {
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #225496;
}

#legenda-schedule td {
    border-left: 1px solid #225496;
    padding: 0;
    vertical-align: text-top;
}

#legenda-schedule .equipment td {
    padding-bottom: 10px;
}

#schedule {
    text-align: center;
    margin-bottom: 20px;
}

#schedule td {
    border: 1px solid #225496;
    padding: 0 0 5px;
    font-weight: bold;
}

#schedule td.time-slot {
    height: 50px;
    vertical-align: bottom;
    font-weight: normal;
    opacity: 1.0;
}

#schedule .equipment-indicator {
    margin-top: 3px;
}

#loading {
    background-color: rgba(255, 255, 255, 0.7);
    display: table;
    margin: 0;
    padding: 0;    
    position: absolute;
    overflow: hidden;   
}

.loading-helper {
    display: table-cell;
    vertical-align: middle;
}

.loading-text {
    display: block;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;     
}

#session-info-container, #room-info-container {
    display: none;
    position: absolute;
    background-color: transparent;    
    max-width: 700px;
    max-height: 500px;
}

#session-info, #room-info {
    background-color: white;
    border: 3px solid #225496;
    padding: 0 10px;
}

#session-info-click {
    border: 1px solid #225496;
    margin-bottom: 20px;
}

.click-to-plan {
    cursor: pointer;
}

#session-info .property-label, #room-info .property-label {
    width: 110px;
}

#session-info .property-value, #room-info .property-value {
    margin-left: 120px;
}

.pointer {
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

#session-info-container .pointer {
    margin-left: 15px;
    border-bottom-color: #225496;
}

#room-info-container .pointer {
    border-right-color: #225496;
    position: absolute;
    left: -10px;
    top: 15px;
}

/* EMAIL AND EXPORT */

#email-templates li, #export li {
    margin: 10px 0;
    list-style: decimal inside;
}

#email-templates li span {
    display: block;
    margin-left: 50px;
    margin-top: 10px;
}

#status-info {
    border: 1px solid #225496;
    margin: 10px;
    padding: 10px;
}

#status-info h3 {
    display: block;
}

/* LOGIN */

#login {
    margin: 0;    
}

/* AUTOCOMPLETE */

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}

.ui-autocomplete-loading { 
    background: url('../images/spinner.gif') no-repeat right center;
}

/* HELPERS */

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.empty {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.bold {
    font-weight: bold;
}