.nav a:visited {
	color: #a26e33;
	text-decoration: none;
}
#smallBlackFont
{
	font-size: 10px;
	font-family: Arial, Helvetica, Swiss;
	xxxcolor: #000000;
}
#blackFont
{
	font-size: 12px;
	font-family: Arial, Helvetica, Swiss;
	color: #000000;
}
.blueFont {
	font-size: 12px;
	font-family: Arial, Helvetica, Swiss;
	color: #000000;
}
.redFont {
	font-size: 12px;
	font-family: Arial, Helvetica, Swiss;
	color: #FF0000;
}
#bigGreenFont
{
	font-size: 25px;
	font-family: Arial, Helvetica, Swiss;
	line-height : 120%;
	color: green;
}
#bigRedFont
{
	font-size: 25px;
	font-family: Arial, Helvetica, Swiss;
	line-height : 120%;
	color: #FF0000
}
#bigBlackFont
{
	font-size: 25px;
	font-family: Arial, Helvetica, Swiss;
	line-height : 120%;
	color: #000000
}
#blockedBackground
{
	font-size: 12px;
	font-family: Arial, Helvetica, Swiss;
	background-color: red;
	color: #0000A0;
}